@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.container:after {
  content: "";
  display: table;
  clear: both; }

.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.headline--primary, .grid__row, [class^="btn--"] {
  text-align: center; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.nav .nav__item a {
  font-weight: 300;
  font-size: em(18px);
  display: block;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 1px) and (max-width: 480px) {
    .nav .nav__item a {
      padding-top: em(14px, 18px);
      padding-bottom: em(14px, 18px); } }
  @media (min-width: 481px) {
    .nav .nav__item a {
      padding: 10px;
      border-radius: 0.4em; } }

.nav .nav__item a:hover {
  color: #fff;
  background-color: #58e1c1; }

@media (min-width: 769px) {
  .nav .nav__item {
    display: inline-block;
    margin: 0 em(10px); } }

[class^="btn--"] {
  max-width: 100%;
  padding: 15px 30px;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: 400;
  transition: opacity 0.3s;
  display: block; }
  [class^="btn--"]:hover {
    opacity: .75; }
  [class^="btn--"]:active {
    opacity: initial; }

* {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, textarea {
  line-height: normal;
  outline: 0px;
  display: block;
  width: 100%;
  border: 0;
  padding: 15px; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.headline--primary {
  color: #58e1c1;
  font-weight: 700;
  font-size: 1.75em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.headline--secondary {
  color: #999da1;
  font-weight: 100;
  font-size: 1em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  margin-left: 1.25em; }
  @media (min-width: 1px) and (max-width: 480px) {
    .headline--secondary {
      margin-bottom: 1.25em; } }

p {
  line-height: 12px;
  line-height: 1.5rem;
  color: #999da1;
  font-weight: 400;
  font-size: 1em; }
  @media (min-width: 481px) {
    p {
      font-size: 1em;
      margin-bottom: 0.625em; } }

a {
  color: #51ddfc;
  text-decoration: none;
  font-weight: 700; }

img {
  max-width: 100%; }

.card {
  text-align: left; }
  @media (min-width: 1px) and (max-width: 480px) {
    .card {
      margin: 0.5555555556em 0; } }

blockquote {
  color: #797e83;
  padding-left: 0.625em;
  border-left: 0.3333333333em solid #58e1c1;
  font-weight: 300;
  font-style: italic;
  font-size: 1.25em; }
  @media (min-width: 1px) and (max-width: 480px) {
    blockquote {
      margin-top: 1.875em; } }
  @media (min-width: 481px) {
    blockquote {
      margin: 1.3333333333em 0;
      padding: 0 0 0 5%;
      font-size: 1.5em; } }

.container {
  width: 90%; }
  @media (min-width: 481px) {
    .container {
      max-width: 768px;
      margin: 0 auto; } }

@media (min-width: 481px) {
  .grid__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; } }
.grid__col--1 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 1 1 0;
  margin: 0.5rem; }
.grid__col--2 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 2 1 0;
  margin: 0.5rem; }
.grid__col--3 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 3 1 0;
  margin: 0.5rem; }
.grid__col--4 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 4 1 0;
  margin: 0.5rem; }
.grid__col--5 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 5 1 0;
  margin: 0.5rem; }
.grid__col--6 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 6 1 0;
  margin: 0.5rem; }
.grid__col--7 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 7 1 0;
  margin: 0.5rem; }
.grid__col--8 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 8 1 0;
  margin: 0.5rem; }
.grid__col--9 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 9 1 0;
  margin: 0.5rem; }
.grid__col--10 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 10 1 0;
  margin: 0.5rem; }
.grid__col--11 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 11 1 0;
  margin: 0.5rem; }
.grid__col--12 {
  /** 
         flex: 0 1 (($i / $grid__cols * 100) -($gutter) * 1%);
          margin: $gutter/2 * 1%
  ****/
  flex: 12 1 0;
  margin: 0.5rem; }

.grid__col--8.theme__colors {
  background-color: #fd9f85; }

.grid__col--7.theme__colors {
  background-color: #ec9fa3; }

.grid__col--6.theme__colors {
  background-color: #3fabca; }

.grid__col--4.theme__colors {
  background-color: #7ee6fd; }

.grid__col--5.theme__colors {
  background-color: #88d9a0; }

.grid__col--3.theme__colors {
  background-color: #bea1c9; }

.grid__col--12.theme__colors {
  background-color: #80e8d1; }

[class^="grid__col--"] {
  font-size: 0.875em;
  font-weight: 100;
  color: #252525;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding: 15px 30px;
  border-radius: 0.4em; }

.nav .nav {
  margin-bottom: 1.875em; }
  .nav .nav__item a {
    color: #797e83; }

.img--logo {
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  width: inline-block;
  display: block; }
  @media (min-width: 1px) and (max-width: 480px) {
    .img--logo {
      margin-bottom: 0; } }
.img--frame {
  border: 1px solid #d6d7d9;
  margin-bottom: 2.5em; }
  @media (min-width: 481px) {
    .img--frame {
      margin-top: 2.5em; } }
.img--avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
  border-radius: 3%; }
  @media (min-width: 1px) and (max-width: 480px) {
    .img--avatar {
      width: 50%; } }
  @media (min-width: 481px) {
    .img--avatar {
      margin-top: 1.125em; } }

.btn--default {
  background-color: #51ddfc; }
.btn--success {
  background-color: #63cc82; }
.btn--error {
  background-color: #e4757a; }
.btn--warning {
  background-color: #fd7856; }
.btn--info {
  background-color: #927bc1; }

[class^="btn--"] {
  margin-bottom: 1.4285714286em; }
  @media (min-width: 1px) and (max-width: 480px) {
    [class^="btn--"] {
      width: 100%; } }
  @media (min-width: 481px) {
    [class^="btn--"] {
      width: auto;
      display: inline-block; }
      [class^="btn--"] + [class^="btn--"] {
        margin-left: 20px; } }

.form__label--hidden {
  margin-bottom: 0.625em; }
.form__input {
  display: block;
  padding: 10px;
  font-size: 1.125em;
  margin-bottom: 1.1111111111em;
  border-bottom: 6px solid #58e1c1;
  color: black;
  font-weight: 300; }
  .form__input:focus {
    border-color: #58e1c1;
    -moz-transition: background-color 1s 2s, color 2s;
    -o-transition: background-color 1s 2s, color 2s;
    -webkit-transition: background-color 1s 2s, color 2s;
    transition: background-color 1s 2s, color 2s; }

@media (min-width: 481px) {
  .form {
    margin-top: 1.25em; } }
.form [class^="btn--"] {
  width: 100% !important; }

/*# sourceMappingURL=styles.css.map */
