// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	@include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %btn;
  @extend %center-align;
  margin-bottom: em(20px, 14px); 
  @include mq(small) {
    width: 100%;
  }
  @include mq(medium-flex) {
    @include doubly(20px);
    width: auto;
    display: inline-block;
  }
}
